<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../static/css/animate.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        {% block content %}
                            <img class=avatar src={{ user.avatar }}>
                            {% if Students.query.filter_by(email=user.email).first() %}
                                <span class="clear"> <span class="block m-t-xs">
                                    <strong class="font-bold">{{ Students.query.filter_by(email=user.email).first().name }}</strong>
                                                    </span>
                                    </span>
                            {% elif Teachers.query.filter_by(email=user.email).first()%}
                                <img class=avatar src={{ user.avatar }}>
                                <span class="clear"> <span class="block m-t-xs">
                                    <strong class="font-bold">{{ Teachers.query.filter_by(email=user.email).first().name }}</strong>
                                                    </span>
                                    </span>
                            {% endif %}
                        {% endblock %}

                    </div>
                    <div class="logo-element">

                    </div>
                </li>
                <li>
                    <a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">Головна</span></a>
                </li>
                <li class="active">
                    <a href="my_record_book"><i class="fa fa-th-large"></i> <span class="nav-label">Моя залiкова книжка</span> </a>
                </li>
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" method="post" action="#">
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="logout">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <h1>Створити нову відомість</h1>
                    </div>
                        <div class="upload">

                            <form action="" method=post enctype=multipart/form-data>
                                 <tr>
                                    <td>Номер відомості:</td>
                                    <br><td><input name="statement_number" required type="text" class="form-control" maxlength="36" placeholder="Введите номер ведомости"></td>
                                     <br><td>Спеціальність:</td>
                                     <br><select name="statement_specialization" id="for_test" class="form-control">
                                            <option disabled>Оберіть спеціальність</option>
                                             {% for specialization in SpecializationList %}
                                                <option value="{{ specialization.id }}">{{ specialization.cafedra_name }}</option>
                                             {% endfor %}
                                         </select>
                                    <input id="input_test" name="test" type="hidden">

                                     <br><td>Курс:</td>
                                     <br><select name="statement_course" id="statement_course" class="form-control">
                                            <option disabled>Оберіть курс</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                         </select>

                                 <br><td>Предмет:</td>
                                     <br><select name="statement_subject" id="state_subject" class="form-control">
                                            <option disabled>Оберіть предмет</option>
                                         </select>

                                     <br><td>Викладач:</td>
                                     <br><select name="statement_teacher" id="state_teacher" class="form-control">
                                            <option disabled>Оберіть викладача</option>
                                         </select>

                                     <br><td>Форма контролю:</td>
                                     <br><select name="statement_control_form" id="statement_subjects" class="form-control">
                                            <option disabled>Оберіть форму контролю</option>
                                             {% for control_form in ControlFormList %}
                                                <option value="{{ control_form.id }}">{{ control_form.form }}</option>
                                             {% endfor %}
                                         </select>
                                 </tr>
                                <br><br><button type="submit" value="Create" class="btn btn-primary">Створити</button>
                            </form>
                        </div>


                </div>
            </div>
        </div>

    </div>
</div>

<!-- Mainly scripts -->
<script src="../static/js/jquery-2.1.1.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../static/js/inspinia.js"></script>
<script src="../static/js/plugins/pace/pace.min.js"></script>


</body>

</html>
