<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../static/css/animate.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        {% block content %}
                            <img class=avatar src={{ user.avatar }}>
                            {% if Students.query.filter_by(email=user.email).first() %}
                                <span class="clear"> <span class="block m-t-xs">
                                    <strong class="font-bold">{{ Students.query.filter_by(email=user.email).first().name }}</strong>
                                                    </span>
                                    </span>
                            {% elif Teachers.query.filter_by(email=user.email).first()%}
                                <img class=avatar src={{ user.avatar }}>
                                <span class="clear"> <span class="block m-t-xs">
                                    <strong class="font-bold">{{ Teachers.query.filter_by(email=user.email).first().name }}</strong>
                                                    </span>
                                    </span>
                            {% endif %}
                        {% endblock %}

                    </div>
                    <div class="logo-element">

                    </div>
                </li>
                <li>
                    <a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">Головна</span></a>
                </li>
                <li>
                    {% if Students.query.filter_by(email=user.email).first() %}
                            <li class="active"><a id="coverin" class="fa fa-th-large" href="{{ url_for('mod.my_record_book') }}"><span class="nav-label"> Моя залікова книжка</span></a></li>
                    {% endif %}
                    {% if Teachers.query.filter_by(email=user.email).first() %}
                            <li><a id="coverin" class="fa fa-th-large" href="{{ url_for('mod.teacher_panel') }}"><span class="nav-label"> Панель викладача</span></a></li>
                    {% endif %}
                    {% if Admins.query.filter_by(email=user.email).first() %}
                            <li><a id="coverin" class="fa fa-th-large" href="{{ url_for('mod.administration') }}"><span class="nav-label"> Панель адміністратора</span></a></li>
                    {% endif %}

                </li>
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" method="post" action="#">
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="logout">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <h3>Іспити</h3>
                        <div class="size-table__wrapper">
                            <table class="table table-condensed">
                            <tbody>
                                <tr class="info">
                                    <td width="25%"><span>Предмет</span></td>
                                    <td width="20%"><span>Викладач</span></td>
                                    <td width="15%"><p class="text-center">Оцінка за нац. шкалою</p></td>
                                    <td width="8%"><span><p class="text-center">Бали</p></span></td>
                                    <td width="12%"><span><p class="text-center">За шкалою ЕКТС</p></span></td>
                                    <td width="5%"><span><p class="text-center">1-5</p></span></td>
                                    <td width="15%"><p class="text-center">Дата</p></td>
                                </tr>

                                {% for s in stats %}
                                    {% if s.control_form_id == 3 %}
                                        <tr class="warning">
                                            <td>{{ s.subject_statement.subject_name }}</td>
                                            <td>{{ s.teacher_statement.name }}</td>
                                            {% if s.control_form_id == 1 %}
                                            <td><p class="text-center">{{ marks.query.filter_by(point=s.mark).first().credit_mark }}</p></td>
                                            {% else %}
                                            <td><p class="text-center">{{ marks.query.filter_by(point=s.mark).first().examen_mark }}</p></td>
                                            {% endif %}
                                            <td><p class="text-center">{{ s.mark }}</p></td>
                                            <td><p class="text-center">{{ marks.query.filter_by(point=s.mark).first().letter }}</p></td>
                                            <td><p class="text-center">{{ marks.query.filter_by(point=s.mark).first().mark }}</p></td>
                                            <td><p class="text-center"> {{ s.date }}</p></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            </table>

                            </div>

                        <h3>Заліки</h3>
                        <div class="size-table__wrapper">
                            <table class="table table-condensed">
                            <tbody>
                                <tr class="info">
                                    <td width="25%"><span><p>Предмет</p></span></td>
                                    <td width="20%"><span>Викладач</span></td>
                                    <td width="15%"><p class="text-center">Оцінка за нац. шкалою</p></td>
                                    <td width="8%"><span><p class="text-center">Баллы</p></span></td>
                                    <td width="12%"><span><p class="text-center">За шкалою ЕКТС</p></span></td>
                                    <td width="5%"><span><p class="text-center">1-5</p></span></td>
                                    <td width="15%"><p class="text-center">Дата</p></td>
                                </tr>

                                {% for s in stats %}
                                    {% if s.control_form_id == 1 or s.control_form_id == 2 %}
                                        <tr class="warning">
                                            <td>{{ s.subject_statement.subject_name }}</td>
                                            <td>{{ s.teacher_statement.name }}</td>
                                            {% if s.control_form_id == 1 %}
                                            <td><p class="text-center">{{ marks.query.filter_by(point=s.mark).first().credit_mark }}</p></td>
                                            {% else %}
                                            <td><p class="text-center">{{ marks.query.filter_by(point=s.mark).first().examen_mark }}</p></td>
                                            {% endif %}
                                            <td><p class="text-center">{{ s.mark }}</p></td>
                                            <td><p class="text-center">{{ marks.query.filter_by(point=s.mark).first().letter }}</p></td>
                                            <td><p class="text-center">{{ marks.query.filter_by(point=s.mark).first().mark }}</p></td>
                                            <td><p class="text-center"> {{ s.date }}</p></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            </table>

                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Mainly scripts -->
<script src="../static/js/jquery-2.1.1.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../static/js/inspinia.js"></script>
<script src="../static/js/plugins/pace/pace.min.js"></script>


</body>

</html>
