{% extends 'base.html' %}

{% block content %}
 <div class="size-table__wrapper">
        <table class="table table-condensed">
        <tbody>
            <tr class="info">
                <td width="20%"><span>Номер відомості</span></td>
                <td class="size-table__bold  size-table__highlighted" width="20%">Предмет</td>
                <td width="20%"><span>Спеціалізація</span></td>
                <td width="20%"><span>Група</span></td>
                <td width="20%"><span>Курс</span></td>
            </tr>

            {% for s in state %}
                {% if s.statement_id == state.statement_number %}
                    {% if s.closed != 'closed' %}
                    <tr class="warning">
                        <td><a href="{{ url_for('mod.statement', name=s.statement_number) }}">{{s.statement_number }}</a></td>
                        <td>{{s.all_statement_subject.subject_name }}</td>
                        <td>{{ s.all_statement_spec.cafedra_name }}</td>
                        <td>{{ s.all_statement_spec.code + s.course * 100 }}</td>
                        <td>{{ s.course }}</td>
                    </tr>
                    {% endif %}
                {% endif %}
        {% endfor %}
        </tbody>
        </table>

        </div>
{% endblock %}