{% extends 'base.html' %}

{% block content %}
        <h1>Відомість</h1>

        <p>Номер відомості: {{ state.statement_number }}</p>
        <p>Форма контролю: {{ state.all_statement_form.form }}</p>
        <p>Предмет: {{ state.all_statement_subject.subject_name }}</p>
        <p>Спеціалізація: {{ state.all_statement_spec.cafedra_name }}</p>
        <p>Курс: {{ state.course }}</p>
        <form action="" method=post enctype=multipart/form-data>
        <div class="size-table__wrapper">
        <table class="table table-condensed">
        <tbody>
            <tr class="info">
                <td width="70%"><span>Student</span></td>
                <td class="size-table__bold  size-table__highlighted" width="30%">Mark</td>
            </tr>

            {% for s in stats %}
                {% if s.statement_id == state.statement_number %}
                    <tr class="warning">
                        <td>{{ s.student_statement.name }}</td>
                        <td><input name="{{ s.student_id }}" type="text" class="form-control">
                        <input name="{{ s.student_id * 200 }}" type="hidden" value="{{ s.student_id }}" readonly class="form-control"></td>

                    </tr>

                {% endif %}
        {% endfor %}
        </tbody>
        </table>

        </div>
        <input name="date" type="date" class="btn btn-default">
        <button type="submit" value="Create" class="btn btn-primary">Заповнити</button>
        </form>

{% endblock %}