<!DOCTYPE html>
{% extends "base.html" %}


{% block content %}
    <a href="show_statement"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Переглянути відомості</a>
    <br><a href="statements_list"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Заповнити відомості</a>

{% endblock %}
