{% extends 'base.html'  %}

{% block content %}
<h1>Відомість № {{ state.statement_number }}</h1>

        <p>Форма контролю: {{ state.all_statement_form.form }}</p>
        <p>Предмет: {{ state.all_statement_subject.subject_name }}</p>
        <p>Спеціалізація: {{ state.all_statement_spec.cafedra_name }}</p>
        <p>Курс: {{ state.course }}</p><br>
        <div class="size-table__wrapper">
        <table class="table table-condensed">
        <tbody>
            <tr class="info">
                <td width="45%"><span>Студент</span></td>
                <td width="10%"><span>Оцінка</span></td>
                <td class="size-table__bold  size-table__highlighted" width="20%">За нац. шкалою</td>
                <td width="10%">Бали</td>
                <td width="15%">За шкалою ЕКТС</td>
            </tr>

            {% for s in stats %}
                {% if s.statement_id == state.statement_number %}
                    <tr class="warning">
                        <td>{{ s.student_statement.name }}</td>
                        <td>{{ marks.query.filter_by(point=s.mark).first().mark }}</td>
                        {% if state.control == 1 %}
                        <td>{{ marks.query.filter_by(point=s.mark).first().credit_mark }}</td>
                        {% else %}
                        <td>{{ marks.query.filter_by(point=s.mark).first().examen_mark }}</td>
                        {% endif %}
                        <td>{{ s.mark }}</td>
                        <td>{{ marks.query.filter_by(point=s.mark).first().letter }}</td>
                    </tr>

                {% endif %}
        {% endfor %}
        </tbody>
        </table>

        </div>

{% endblock %}




