<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../static/css/animate.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>
    {% if not current_user.is_authenticated %}
        <p style="font-family: Impact; font-size: 24px; color: #2a6496; text-align: center; margin-top: 200px ">
            You are not logged in, you need to join to the dark side to view this page...Also, we got a cookies:)))</p>
        <br><a href="login" ><img style="margin-left: 480px; border-radius: 0px" src="/static/image/signin.png"></a>
    {% endif %}
<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        {% block content %}
                            <img class=avatar src={{ user.avatar }}>
                            {% if Students.query.filter_by(email=user.email).first() %}
                                <span class="clear"> <span class="block m-t-xs">
                                    <strong class="font-bold">{{ Students.query.filter_by(email=user.email).first().name }}</strong>
                                                    </span>
                                    </span>
                            {% elif Teachers.query.filter_by(email=user.email).first()%}
                                <img class=avatar src={{ user.avatar }}>
                                <span class="clear"> <span class="block m-t-xs">
                                    <strong class="font-bold">{{ Teachers.query.filter_by(email=user.email).first().name }}</strong>
                                                    </span>
                                    </span>
                            {% endif %}
                        {% endblock %}

                    </div>
                    <div class="logo-element">

                    </div>
                </li>
                <li>
                    <a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">Головна</span></a>
                </li>
                <li class="active">
                    <a href="my_record_book"><i class="fa fa-th-large"></i> <span class="nav-label">Моя залiкова книжка</span> </a>
                </li>
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" method="post" action="#">
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="logout">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <a href="create_statement">Створити відомість</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Mainly scripts -->
<script src="../static/js/jquery-2.1.1.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../static/js/inspinia.js"></script>
<script src="../static/js/plugins/pace/pace.min.js"></script>


</body>

</html>
