<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <p>You are not logged in, please, use Google OAuth</p>
    <a href="{{ url_for(auth.authorized) }}">Login</a>
</body>
</html>