{% extends 'base.html' %}
{% block content %}
    <div class="text-center m-t-lg">
        <h3>Помилка. Ви не маєте доступу до цієї сторінки, будь-ласка, авторизуйтеся за допомогою коректного адресу електронної пошти</h3>
    </div>
{% endblock %}